<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="/js/jquery.slim.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <title>Books</title>
    </head>
    <body>
        <ul>
            <%for(let item of nav){%>
                <li>
                    <a href="<%=item.link%>"><%= item.title%></a>
                </li>
            <%}%>
        </ul>
        <h1>Books</h1>
        <p>Here are your books:</p>
        <ul>
            <%for(let book of books){%>
            <li>
                <a href="/books/<%=book._id%>"><%=`${book.title} by ${book.author}`%></a>
            </li>
            <%}%>
        </ul>
    </body>
</html>