<html>

<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a46d123be3.js" 
      crossorigin="anonymous"></script>
  <title><%=title%></title>
  <style>
    .form-signin {
      width: 100%;
      max-width: 20rem;
      margin: 0 auto;
    }
  </style>
</head>

<body class="bg-light">

  <nav class="navbar navbar-expand-sm navbar-light" style="background: lightblue;">
    <span class="fas fa-2x fa-book-open mr-3"></span>
    <span class="navbar-brand">Library</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarItems">
      <ul class="navbar-nav">
        <%for(let item of nav){%>
        <li class="nav-item">
          <a class="nav-link" href="<%=item.link%>"><%= item.title%></a>
        </li>
        <%}%>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1 class="my-5 text-center display-3"><%=title%></h1>
        <form name="signInForm" action="/auth/signin" method="post" class="form-signin">
          <!-- <h3 class="mb-3 text-center mb-4">Sign In</h3> -->
          <div class="form-group row">
            <label for="username" class="col-sm-4 col-form-label">User Name:</label>
            <input name="username" id="username" class="form-control col-sm-8">
          </div>
          <div class="form-group row mb-4">
            <label for="password" class="col-sm-4 col-form-label">Password: </label>
            <input name="password" id="password"c class="form-control col-sm-8">
          </div>
          <input type="submit" value="Sign In" class="btn btn-primary btn-block">
        </form>
    </div>
</body>

</html>